.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grey-color{
  color: grey
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

.booking-page {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.package-details {
  width: 60%;
  background-color: #2196f3;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.package-details h2 {
  margin-bottom: 10px;
}

.package-details p {
  margin: 5px 0;
}

.form-container {
  width: 35%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

input, select {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0d8bf2;
}
