/* General Styles for Search Bar */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-size: cover;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  /* background: rgba(255, 255, 255, 0.7); */
  background: rgba(255,255,0, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 10px auto;
}

.input-field, .date-field {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.9);
  width: 300px;
  box-sizing: border-box;
  margin: 0;
}

.input-field:focus, .date-field:focus {
  border-color: #007bff;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.search-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.search-button:active {
  transform: scale(0.95);
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/* Responsive Styling for Mobile Devices */
@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 8px;
  }

  .input-field, .date-field, .search-button {
    width: 100%;
  }
}

  